
input , button {
    outline: none;
}

.sieu-xe {
    width: 100%;
    height: auto;
}
.header {
    width: 100%;
}
.logo {
    float: left;
    margin-left: 100px;
}
.twoProductImg{
    width: 2twoRowOne00px;
    height: 100px;
}
.menu {
    float: left;
    width: 800px;
    height: 30px;
    margin-top: 5px;
}
.menu .menuHeader li {
 
    list-style: none;
    display: inline-block;
}
.menu .menuHeader li a {
    padding: 25px;
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.menu .menuHeader li a:hover {
    color: red;
    text-decoration: underline;
}

.login {
    float: right;
    width: 300px;
    height: 50px;
    margin-top: 10px;
}
.login .loginLeft {
    float: left;
}
.loginLeft a {
    margin-left: -130px;
    margin-right: 40px;
    color: black;
    font-weight: 20px;
}
.loginLeft a:hover {
    color: red;
}
.loginContact a,
.loginLeft a {
    text-decoration: none;
    font-size: 30px;
}
.loginContact a {
    
    color: black;
    border-radius: 20px;
}
.loginContact a:hover{
    color: red;
}
.headerBottom {
    clear: both;
}
.headerBottom {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #2dbeb3;
}

.list{
    width: 170px;
    height: 40px;
    background-color: #ffdb4a;
    padding-top: 10px;
    padding-left: 30px;
}
.list a{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}


.headerRight {
    display: flex;
    float: right;
    /* margin-left: 250px; */
}
.search {
    display: inline-block;
    /* margin-left: -820px; */
}
#searchInput {
    width: 400px;
    height: 30px;
    margin-top: 8px;
    border-radius: 20px;
    border: 1px solid gray;
   
    
}
.notification{
    padding-top: 15px;
    color: yellow;
    font-size: 20px;
}
#searchButton {
    width: 50px;
    height: 27px;
    border-radius: 20px;
    border: 1px solid gray;
    margin-left: -55px;
    background-color: #ffdb4a;
    
}
.print {
    padding: 8px;
    background-color: rgb(219, 26, 116);
    margin-left: 25px;
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 20px;
}
.order {
    padding: 8px;
    background-color: #3a607d;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 20px;
}
.textOrderPrint {
    color: #fff;
    text-decoration: none;
}

.bodyContent {
    clear: both;
    margin-left: 100px;
    margin-right: 100px;
}
.homeTop li {
    margin: 10px 0px;
    padding: 0px;
    display: inline;
}
.homeTop {
    clear: both;
    padding: 0px;
}
.homeTop li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
#design {
    color: #2dbeb3;
}
#headTitle{
    color: red;

}
.titleProduct h2 {
    color: black;
    font-size: 40px;
}
.titleProduct{
    
    width: 400px;
}
#buttonSearch:hover{
    background-color:#ffdb4a ;
}
#title1 h3{
    text-decoration: none;
    color: black;
}
#title1 h3:hover{
    color: red;
}
#xem{
    text-decoration: none;
}

.contentTwo{
    margin-left: 5%;
    margin-right: 5%;
}
.contentTwoRow{
    clear: both;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 21%;
}
.notificationTwo{
    width: 50%;
    font-size: 20px;
    padding-top: 4%;
    color:blue;
}
.contentThreeTop{
    margin-left: 5%;
    margin-right: 5%;
}
.threeRowOne{
    margin-left: 5%;
    margin-right: 5%;
}
.contentOne{
    display: flex;
    justify-content: space-around;
}
.news{
    width: 25%;
    border: 2px solid gray;
    margin-top: -10%;
    margin-bottom: 4.5%;
    background-color: aqua;
}
.newsTop{
    font-size: 20px;
    font-weight: bold;
    padding-left: 35%;
    border-bottom: 1px solid;
    background-color: aqua;
}
.newsBot ul li{
    margin-top: 12%;
    font-size: 20px;
   
}
.newsBot ul li a{
    text-decoration: none;
    background-color: floralwhite;
    color: red;
}
.rowOne {
    display: flex;
    width: 70%;
}
.productOne,
.productTwo,
.productThree {
    margin-right: 21px;
}
.rowTwo {
    display: flex;
}
.productFour,
.productFive,
.productSix {
    margin-right: 21px;
    margin-top: 21px;
}

.titleLeft h3 {
    width: 500px;
    height: 50px;
}

#inputSearchLeft{
    width: 250px;
    margin-left: -20px;
}
.searchLeft , .titleSelect{
    margin-top: 50px;
}
.contentTwoTop{
    display: flex;
    justify-content: space-around;
   
    width: 70%;
    
}
.titleRight{
    display: contents;
}
.titleLeft h3{
    margin-left: 5px;
}

.twoRowOne {
    display: flex;
    justify-content: space-around;
   height : 300px;
   width: 70%;
}
.twoProductOne {
    margin-right: 21px;
    margin-top: 21px;
}

.contentTwoTop .titleLeft h3 {
    font-size: 40px;
}
#styleTitle {
    color: #fd5b4e;
}
.twoProductTitle{
    margin-top: 75px;
    text-decoration: none;
    
    
}
.titleBottom a{
    color:rgb(0, 255, 242); ;
}
.twoProductTitle a{
    text-decoration: none;   
}
.twoProductTitle a h3{
    color: rgb(0, 255, 242);
    font-size: 23px;
}
.twoProductTitle :hover{
    color: red;
}

.threeproductTitle:hover{
    color: red;
}
.threeproductTitle .titleDesign :hover{
    color: red;
}
.threeRowOne {
    display: flex;
}
.threeProductOne {
    margin-right: 21px;
    margin-top: 21px;
}
.seclectRight:hover{
    background-color: rgb(38, 206, 228);
}
#selectThree:hover{
    background-color: rgb(38, 206, 228);
}
.threeTopLeft{
    font-size: 40px;
}
.threeproductTitle h3{
    
    color: black;

}
.productOneImg a , .productTwo a , .productThree a{
    text-decoration: none;
}
.threeproductTitle a {
    text-decoration: none;
}
.threeproductTitle h3:hover{
    color: red;
}
.contentThreeTop{
    display: flex;
    justify-content: space-between;
}
.threeTopRight{
    margin-top: 55px;
    margin-right: 20px;
}
.botWed {
    width: 100%;
}
.botWed .footerTop {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    background-color: #3cbeb3;
    justify-content: space-evenly;
    margin-top: 60px;
    color: #fff;
}
.botWed .footerBottom {
    background-color: rgb(12, 50, 82);
    margin-top: -22px;
}
.footerEmail .footerContent h1 {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}
.footerEmail .footerRegistration {
    display: flex;
    justify-content: space-evenly;
}
.footerEmail .footerRegistration .footerForm #input {
    width: 450px;
    height: 45px;
    border-radius: 40px;
    margin-left: 15px;
}
.footerEmail .footerRegistration .footerFormButtom {
    width: 150px;
    height: 54px;
    border-radius: 30px;
    margin-left: -104px;
    background-color: #ffdb4a;
}
.footerEmail .footerRegistration .footerFormButtom #registration {
    margin: -10px;
}
.footerContact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.columnOne,
.columnTwo,
.columnThree,
.columnFour {
    width: 300px;
    color: #fff;
}
.columnOne ul li,
.columnTwo ul li,
.columnThree ul li,
.columnFour ul li {
    list-style: none;
}
.columnOne ul li a,
.columnTwo ul li a,
.columnThree ul li a,
.columnFour ul li a {
    text-decoration: none;
    color: gray;
}
.columnOne,
.columnTwo,
.columnThree {
    border-right: 1px solid gray;
}
.contact p {
    text-align: center;
    color: #fff;
}
.link {
    text-decoration: none;
    color: black;
}
.span {
    color: #ffdb4a;
    font-weight: bold;
}
.spanAqua {
    color: #3cbeb3;
    font-weight: bold;
}
#transport {
    margin-left: -22px;
}



.formBox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 5px;
    border: 1px solid gray;
    background-color: aliceblue;
}
.buttonBox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f ;
    border-radius: 30px;
}
.toggle{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.input{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
    padding-left: 50px;
}
.inputUser{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submitButton{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkBox{
    margin: 30px 10px 30px 0;
}
#spanRemember{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

  .product3 {
    width: 680px;
    height: 550px;
    position: relative;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 5px;
    border: 1px solid gray;
    background-color: aliceblue;
    
}
.product1 , .product2{
    width: 680px;
    height: 800px;
    position: relative;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 5px;
    border: 1px solid gray;
    background-color: aliceblue;
}

.commentsTop{
    border-bottom: 1px solid;
}
.formBoxTwo{
    width: 380px;
    height: 300px;
    position: relative;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 5px;
    border: 1px solid gray;
    background-color: aliceblue;
}
.commentsBot{
    margin: 5% 2%;
    margin-left: 8%;
}
.send{
    width: 90%;
    height: 150px;
    margin-bottom: 2%;
}